        body, html {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            height: 100%;
        }

        .parallax {
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            min-height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 2em;
            text-shadow: 2px 2px 8px black;
        }
        .img1 {
            background-image: url('/home/cmart-sa/Downloads/Untitld.jpeg')
        }

        .img2 {
            background-image: url('/home/cmart-sa/Downloads/Untitled.jpeg');
        }
        
        .contenido {
            background-color: black;
            color: white;
            padding: 100px 20px;
            text-align: center;
        }